//colors
$primary-color: whitesmoke;
$white: #fff;
$black: #000;

//button
$button--primary: whitesmoke;
$hover-button--primary: rgb(5, 5, 79);
$input-border: rgb(5, 5, 79);
$button-border: rgb(5, 5, 79);
