//colors
$primary-color: whitesmoke;
//$secondary-color: rgb(5, 5, 79);
$white: #fff;
$black: #000;

// //devices breakpoint
// $tablet: 1200px;
// $mobile: 576px;

//button
$button--primary: whitesmoke;
// $button--secondary: ;
$hover-button--primary: rgb(5, 5, 79);
// $hover-button--secondary: ;
$input-border: rgb(5, 5, 79);
$button-border: rgb(5, 5, 79);
